body
{
background-size: cover;
}

.heading{
    width: 100%;
}

.heading h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bolder ;
    display: inline;
    text-align: center;
}

#instruction{
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}
#playgame{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
}

#restart{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
}

